body {
	margin: 0;
	padding: 0;
	background: #e5e5e5;
	text-align: justify;
	font-family: Arial;
	font-size: 12px;
	color: #000000;
}

h1, h2, h3 {
	margin-top: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 1.6em;
	font-weight: bold;
}

h1 a {
	font-size: .62em;
}

h2 {
	font-size: 1.3em;
	color: green;
}

h3 {
	font-size: 1.1em;
}

ul {
}

a {
	color: #528DC8;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#header {
	width: 100%;
	margin: 0 auto;
	height: 70px;
	background:#8ac015;
	padding : 5px 5px 5px 5px ;
}

/* Header */

#logo {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

#logo h1, #logo p {
	float: left;
	margin: 0;
	color: #528DC8;
}

#logo span {
	color: #ffffff;
}

#logo h1 {
	padding: 0 0 0 0;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 3em;
}

#logo p {
	text-transform: uppercase;
	padding: 47px 0 0 3px;
	font-size: 10px;
	color: #110E0F;
}

.rightsideheader{
	font-size:1.1em;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #528DC8;
	font-size: 1em;
}

/* Menu */

#menu {
	width: 100%;
	margin: 0px auto;
	padding: 0px;	height:10px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu{
	display: inline;
	background : #999999;
}

#main li{
	height:15px;
}

#menu a {
	display: block;
	float: left;
	height: 12px;
	margin: 0px;
	padding: 20px 4px 0px 12px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 12px;
	color: #ffffff;
	
}

#menu a:hover {
	text-decoration: underline;
	background:#fff600;
	color: #525252;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
	width: 100%;
	margin: 0px auto;
	
}

#page-bgtop {
	background: url(images/img04.jpg) no-repeat left top;
}

#page-bgbtm {
	background: url(images/img06.jpg) no-repeat left bottom;
}


/* Latest Post */

#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
	float: left;
	width: 96%;
	margin: 0px;
	padding: 20px 20px 20px 20px;
	background: #e5e5e5 ;
}

.post {
	padding-bottom: 15px;
	line-height: 200%;
}

.post h1 {
	font-weight: normal;
}

.title {
	height: 50px;
	margin: 0px 10px;
	padding: 11px 0px 4px 10px;
	text-transform: capitalize;
	font-weight: normal;
	background: url(images/img12.jpg) no-repeat left top;
}

.title a {
	border-bottom: none;
	color: #528DC8;
}

.title a:hover {
}

.byline {
	margin: -10px 20px 20px 20px;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
}

/* Sidebars */

#sidebar1 {
	float: left;
	padding-top: 20px;
	padding-left: 10px;
}

#sidebar2 {
	float: right;
}

#sidebar1 ul {
	padding-bottom: 20px;
}

#sidebar1 li {
	background: url(images/img11.jpg) no-repeat left bottom;
}

#sidebar1 li ul {
	background: url(images/img10.jpg) repeat-y left top;
}

#sidebar1 li li {
	background: url(images/img08.gif) no-repeat 0 13px;
}

#sidebar1 li h2 {
	height: 25px;
	padding-top: 15px;
	background: url(images/img09.jpg) no-repeat left top;
	color: #333333;
}

.sidebar {
	float: left;
	width: 220px;
	padding: 10px 0 0 0;
	font-size: 12px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding: 0 0 20px 0;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0 10px 0 15px;
	padding: 8px 0px 8px 20px;
	border-bottom: 1px #B5B5B5 dashed;
	background: url(images/img08.gif) no-repeat 0 13px;
	text-align: left;
}


.sidebar li h2 {
	height: 30px;
	margin: 0 0 0 0;
	padding: 8px 15px 0px 35px;
	background: url(images/img07.jpg) no-repeat left top;
	font-size: 12px;
	color: #FFFFFF;
}

.sidebar a {
}

/* Search */

#searchform {
	margin: 0;
	padding: 0 0 0 0;
}

#searchform br {
	display: none;
}

#searchform h2 {
}

#s {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 180px;
	height: 18px;
	border: 1px solid #949494;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	background: #CA8186;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 10px;
	color: #CCCCCC;
}

/*Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 80%;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
	border:none;
	vertical-align : middle;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	
}
label {
	display:inline-block;
	font-size: 110%;
	padding-right: 20px;
	width:170px;
	vertical-align:top;
	color:#444444;
}
input, textarea {
	clear: both;
	padding: 2px;
	font-size:14px;
	font-family:Arial;
}
select {

}
select[multiple=multiple] {

}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	font-size: 10px;
	width: auto;
	vertical-align: bottom;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
	clear:both;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Tables */
table {
	clear: both;
	color: #333;
}
th {
	background-color:#cccccc;
	padding: 2px 4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
	background-color:#cccccc;
	color:red;
}
th a:hover {
	color: #333;
	text-decoration: none;
}
table tr td {
	vertical-align: top;
	padding: 3px 15px 3px 4px;	
}

table td{
	height:30px;
}

table tr.altrow td {	
}

td.actiontd a{
	background-color:#cccccc;
	padding:2px 2px 2px 2px;
}

td.actiontd a:hover{
	background-color:#ffffff;
	padding:2px 2px 2px 2px;
	color:#000000;
}

td.actions {
	text-align: center;
}
td.actions a {
	margin: 0px 6px;
}
.cake-sql-log table {
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

.forminline {
	float:left;
}

#sessionMessage {
	font-size:140%;
	color: red;
}

#projectLeftSide {
	float:left;
	width:67%;
	background-color:#ffffff;
	padding: 10px 10px 30px 10px;
}

#projectLeftSidem {
	float:left;
	width:87%;
	background-color:#ffffff;
	padding: 10px 10px 30px 10px;
}

#pagetitle{
	background-color:#edf3fe;
	height:20px;
	width:67%;
	padding: 10px 10px 10px 10px;
	float:left;
	z-index: 10;
}

#pagetitlem{
	background-color:#edf3fe;
	height:20px;
	width:87%;
	padding: 10px 10px 10px 10px;
	float:left;
	z-index: 10;
}

#projectRightSide {
	width:28%;
	float:right;
	background-color :#ffffcc;
	padding: 20px 10px 20px 15px;
	position : absolute;
	right:20px;
}

#projectRightSide label{
	width:80px;
}

#projectRightSide hr{
	color:#ffffff;
}

#projectRightSide2 {
	width:28%;
	float:right;
	padding: 20px 10px 20px 15px;
	position : absolute;
	right:20px;
}

#projectRightSide2 td {
	background-color :#ffffcc;
}

#projectRightSide2 th {
	background-color :#edf3fe;
}

#projectRightSide2 th a{
	background-color :#edf3fe;
}

#th22 {
	background-color :#ffffcc;
}

.noborder {
	border:none;
}

.nobordercorner{
	border-right:1px solid #cccccc;
	border-bottom:none;
	border-left:none;
}

.pleftside{
	width:95%;
}

.submitassign button{
	border: 1px solid #006;
    background: #9cf;
}

.submitassign button hover{
	border: 1px solid #006;
    background: #ffffff;
}

.buttonlink{
	background:#8ac015;
	color:#ffffff;
	padding:5px 5px 5px 5px;
	margin-bottom:10px;
	margin-top:10px;
	margin-right:10px;
	display:block;
	width:150px;
	text-align: center;
}

.buttonlink:hover{
	background:#fff600;
	color:#525252;
	text-decoration:underline;
	padding:5px 5px 5px 5px;
	margin-bottom:10px;
	margin-top:10px;
	margin-right:10px; 
	display:block;
	width:150px; 
}

.buttonlink2{
	background:#8ac015;
	color:#ffffff;
	padding:5px 5px 5px 5px;
	margin-bottom:10px;
	margin-top:10px;
	display:block;
	width:70%; 
}

.buttonlink2:hover{
	background:#fff600;
	color:#525252;
	text-decoration:underline;
	padding:5px 5px 5px 5px;
	margin-bottom:10px;
	margin-top:10px;
	display:block;
	width:70%;  
}

.error-message{
	font-size:110%;
	color:red;
	font-weight:bold;
}

.duration{
	float:left;
	width:190px;
}

#users_in_project{
	clear:both;
}

.projectsview{
	border:10px solid;
}

/*User page vacation and other divs*/

#vacationcolor{
	float:none;
	background-color:#fcd5b5;
	width:300px;
	margin-bottom:5px;
	text-align:right;
	padding:2px 4px 2px 2px;
}

#othercolor{
	float:none;
	background-color:#ff7c80;
	width:300px;
	text-align:right;
	margin-bottom:5px;
	padding:2px 4px 2px 2px;
}

.highligted td tr{
	background-color:green;
	color:white;
}

#attentionrequ{
	background-color:#ffcc66;
	padding:6px 2px 6px 4px;
}

#criticalu{
	background-color:#ff7c80;
	padding:6px 2px 6px 4px;
}

#allok{
	background-color:#c3d69b;
	padding:6px 2px 6px 4px;
}

.hiddenmenu{
	position:absolute;
	margin:60px;
	padding:60px;
	padding-left:500px;
	display:block;
	float:none;
}

/*Horizontal menu*/
.qmmc .qmdivider{display:block;font-size:1px;border-width:0px;border-style:solid;position:relative;z-index:1;}.qmmc .qmdividery{float:left;width:0px;}.qmmc .qmtitle{display:block;cursor:default;white-space:nowrap;position:relative;z-index:1;}.qmclear {font-size:1px;height:0px;width:0px;clear:left;line-height:0px;display:block;float:none !important;}.qmmc {position:relative;zoom:1;z-index:10;}.qmmc a, .qmmc li {float:left;display:block;white-space:nowrap;position:relative;z-index:1;}.qmmc div a, .qmmc ul a, .qmmc ul li {float:none;}.qmsh div a {float:left;}.qmmc div{visibility:hidden;position:absolute;}.qmmc li {z-index:auto;}.qmmc ul {left:-10000px;position:absolute;z-index:10;}.qmmc, .qmmc ul {list-style:none;padding:0px;margin:0px;}.qmmc li a {float:none}.qmmc li:hover>ul{left:auto;}#qm0 ul {top:100%;}#qm0 ul li:hover>ul{top:0px;left:100%;}

	#qm0 a	
	{	
		padding:5px 4px 8px 5px;
		color:#FFFFFF;
		font-family:Arial;
		font-size:10px;
		text-decoration:none;
		background:#999999;
	}
	
	.qmmc #activeTab a{
		background-color:#e5e5e5;
		font-weight: bolder;
		color:#474747;
	}
	
	.qmmc #activeTab a:hover{
		background-color:#e5e5e5;
		font-weight: bolder;
	}
	
	#qm0 a:hover	
	{	
		padding:5px 4px 8px 5px;
		color:#000000;
		font-family:Arial;
		font-size:10px;
		background:#ffffff;
	}
		
	#qm0 div, #qm0 ul	
	{	
		padding:10px;
		margin:-2px 0px 0px 0px;
		background-color:transparent;
		border-width:1px;
		border-style:none;
		background:#e5e5e5;
	}
	
	#qm0 div a, #qm0 ul a	
	{	
		padding:3px 10px 3px 5px;
		background-color:transparent;
		font-size:11px;
		border-width:0px;
		border-style:none;
		color:#000000;
	}

	#qm0 div a:hover, #qm0 ul a:hover	
	{	
		background-color:#ffffff;
		color:#000000;
		font-family:arial;
		font-size:11px;
	}

	body #qm0 div .qmactive, body #qm0 div .qmactive:hover	
	{	
		background-color:#DADADA;
		color:#CC0000;
		font-weight:bold;
	}


	#qm0 .qmtitle	
	{	
		cursor:default;
		padding:3px 0px 3px 4px;
		color:#444444;
		font-family:arial;
		font-size:11px;
		font-weight:bold;
	}
	
	#qm0 .qmdividerx	
	{	
		border-top-width:1px;
		margin:4px 0px 4px 0px;
		border-color:#BFBFBF;
	}
	
	#qm0 .qmdividery	
	{	
		border-left-width:1px;
		height:15px;
		margin:4px 2px 0px 2px;
		border-color:#AAAAAA;
	}
	
	#qm0 .qmritem span	
	{	
		border-color:#DADADA;
		background-color:#F7F7F7;
	}

	#qm0 .qmritemcontent	
	{	
		padding:0px 0px 0px 4px;
	}
	
	.careful{
		font-size:1.1em;
		font-weight:bold;
		padding: 4px 4px 4px 4px;
	}
	
	.careful:hover{
		background-color:#cccccc;
		color:red;	
		padding: 4px 4px 4px 4px;
	}
	
	.forwardback{
		padding:10px 10px 10px 10px ;
	}
	
	#nowsq{
		font-weight:bold;
		padding: 10px 5px 10px 5px;
		vertical-align: top;
		font-size : 14px;
		text-decoration:none;
	}

/*END Horizontal menu*/
